USE [giadinhthoxinh]
GO
/****** Object:  Table [dbo].[tblCategory]    Script Date: 7/16/2024 9:11:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCategory](
	[PK_iCategoryID] [int] IDENTITY(1,1) NOT NULL,
	[FK_iSupplierID] [int] NOT NULL,
	[sCategoryName] [nvarchar](60) NULL,
 CONSTRAINT [PK__tblCateg__1CEB1EFB7725771C] PRIMARY KEY CLUSTERED 
(
	[PK_iCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCheckinDetail]    Script Date: 7/16/2024 9:11:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCheckinDetail](
	[PK_iCheckinDetailID] [int] IDENTITY(1,1) NOT NULL,
	[FK_iImportOrderID] [int] NOT NULL,
	[FK_iProductID] [int] NULL,
	[iQuatity] [int] NULL,
	[fPrice] [float] NULL,
 CONSTRAINT [PK__tblCheck__74ECEDDEF3DEC773] PRIMARY KEY CLUSTERED 
(
	[PK_iCheckinDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCheckoutDetail]    Script Date: 7/16/2024 9:11:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCheckoutDetail](
	[PK_iCheckoutDetailID] [int] IDENTITY(1,1) NOT NULL,
	[FK_iOrderID] [int] NOT NULL,
	[FK_iProductID] [int] NULL,
	[iQuantity] [int] NULL,
	[fPrice] [float] NULL,
 CONSTRAINT [PK__tblCheck__AA0F9D73CFC6D13F] PRIMARY KEY CLUSTERED 
(
	[PK_iCheckoutDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblComplaint]    Script Date: 7/16/2024 9:11:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblComplaint](
	[PK_iComplaintsID] [int] IDENTITY(1,1) NOT NULL,
	[FK_iSupplierID] [int] NOT NULL,
	[sUserName] [nvarchar](50) NULL,
	[sReason] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblComplaint] PRIMARY KEY CLUSTERED 
(
	[PK_iComplaintsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblImage]    Script Date: 7/16/2024 9:11:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblImage](
	[PK_iImageID] [int] IDENTITY(1,1) NOT NULL,
	[sImage] [nvarchar](250) NULL,
 CONSTRAINT [PK__tblImage__2309338E88158E3D] PRIMARY KEY CLUSTERED 
(
	[PK_iImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblImportOrder]    Script Date: 7/16/2024 9:11:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblImportOrder](
	[PK_iImportOrderID] [int] IDENTITY(1,1) NOT NULL,
	[FK_iAccountID] [int] NOT NULL,
	[FK_iSupplierID] [int] NOT NULL,
	[dtDateAdded] [datetime] NULL,
	[sDeliver] [nvarchar](80) NULL,
	[iState] [int] NULL,
 CONSTRAINT [PK__tblImpor__804C7A8B512FB969] PRIMARY KEY CLUSTERED 
(
	[PK_iImportOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblOrder]    Script Date: 7/16/2024 9:11:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblOrder](
	[PK_iOrderID] [int] IDENTITY(1,1) NOT NULL,
	[FK_iAccountID] [int] NOT NULL,
	[sCustomerName] [nvarchar](50) NULL,
	[sCustomerPhone] [varchar](15) NULL,
	[sDeliveryAddress] [nvarchar](150) NULL,
	[dInvoidDate] [datetime] NOT NULL,
	[sBiller] [nvarchar](50) NULL,
	[iDeliveryMethod] [int] NULL,
	[fSurcharge] [float] NULL,
	[iPaid] [int] NULL,
	[sState] [nvarchar](50) NULL,
	[iTotal] [int] NULL,
 CONSTRAINT [PK__tblOrder__3261310A653333D7] PRIMARY KEY CLUSTERED 
(
	[PK_iOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPermission]    Script Date: 7/16/2024 9:11:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPermission](
	[PK_iPermissionID] [int] IDENTITY(1,1) NOT NULL,
	[sPermissionName] [nvarchar](50) NULL,
	[iState] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PK_iPermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblProduct]    Script Date: 7/16/2024 9:11:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProduct](
	[PK_iProductID] [int] IDENTITY(1,1) NOT NULL,
	[FK_iSupplierID] [int] NOT NULL,
	[FK_iCategoryID] [int] NOT NULL,
	[sProductName] [nvarchar](200) NULL,
	[sDescribe] [nvarchar](1000) NULL,
	[fPrice] [float] NULL,
	[sColor] [nvarchar](40) NULL,
	[sSize] [nvarchar](20) NULL,
	[sImage] [nvarchar](250) NULL,
	[sUnit] [nvarchar](20) NULL,
	[iQuantity] [int] NULL,
	[iState] [int] NULL,
 CONSTRAINT [PK__tblProdu__2980F3B84306DD52] PRIMARY KEY CLUSTERED 
(
	[PK_iProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblProductColor]    Script Date: 7/16/2024 9:11:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProductColor](
	[PK_iProductColorID] [int] IDENTITY(1,1) NOT NULL,
	[sProductColor] [nvarchar](40) NULL,
 CONSTRAINT [PK_tblProductColor] PRIMARY KEY CLUSTERED 
(
	[PK_iProductColorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblProductPrice]    Script Date: 7/16/2024 9:11:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProductPrice](
	[PK_iProductPriceID] [int] IDENTITY(1,1) NOT NULL,
	[fPrice] [float] NULL,
	[dtStartDay] [datetime] NULL,
	[dtEndDay] [datetime] NULL,
 CONSTRAINT [PK_tblProductPrice] PRIMARY KEY CLUSTERED 
(
	[PK_iProductPriceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblProductSize]    Script Date: 7/16/2024 9:11:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProductSize](
	[PK_iProductSizeID] [int] IDENTITY(1,1) NOT NULL,
	[sSizeName] [nvarchar](20) NULL,
 CONSTRAINT [PK_tblProductSize] PRIMARY KEY CLUSTERED 
(
	[PK_iProductSizeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPromote]    Script Date: 7/16/2024 9:11:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPromote](
	[PK_iPromoteID] [int] IDENTITY(1,1) NOT NULL,
	[FK_iSupplierID] [int] NOT NULL,
	[sPromoteName] [nvarchar](200) NULL,
	[sPromoteRate] [float] NULL,
	[dtStartDay] [datetime] NULL,
	[dtEndDay] [datetime] NULL,
 CONSTRAINT [PK__tblPromo__498845A71A5830E3] PRIMARY KEY CLUSTERED 
(
	[PK_iPromoteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblReview]    Script Date: 7/16/2024 9:11:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblReview](
	[PK_iReviewID] [int] IDENTITY(1,1) NOT NULL,
	[FK_iProductID] [int] NOT NULL,
	[FK_iAccountID] [int] NOT NULL,
	[iStarRating] [int] NULL,
	[dtReviewTime] [datetime] NULL,
	[sComment] [nvarchar](250) NULL,
 CONSTRAINT [PK__tblRevie__7180705F11601E83] PRIMARY KEY CLUSTERED 
(
	[PK_iReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSupplier]    Script Date: 7/16/2024 9:11:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSupplier](
	[PK_iSupplierID] [int] IDENTITY(1,1) NOT NULL,
	[FK_iAccountID] [int] NOT NULL,
	[sSupplierName] [nvarchar](200) NULL,
	[sPhone] [varchar](15) NULL,
	[sEmail] [varchar](50) NULL,
	[sAddress] [nvarchar](250) NULL,
	[iState] [int] NULL,
	[sVerificationImagePath] [nvarchar](250) NULL,
 CONSTRAINT [PK__tblSuppl__C051541594A08A37] PRIMARY KEY CLUSTERED 
(
	[PK_iSupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 7/16/2024 9:11:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUser](
	[PK_iAccountID] [int] IDENTITY(1,1) NOT NULL,
	[FK_iPermissionID] [int] NOT NULL,
	[sEmail] [varchar](50) NULL,
	[sPass] [nvarchar](50) NULL,
	[sUserName] [nvarchar](50) NULL,
	[sPhone] [varchar](15) NULL,
	[sAddress] [nvarchar](150) NULL,
	[iState] [int] NULL,
 CONSTRAINT [PK__tblUser__A8653C89B0130405] PRIMARY KEY CLUSTERED 
(
	[PK_iAccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblCategory] ON 

INSERT [dbo].[tblCategory] ([PK_iCategoryID], [FK_iSupplierID], [sCategoryName]) VALUES (12, 9, N'Hoa len')
INSERT [dbo].[tblCategory] ([PK_iCategoryID], [FK_iSupplierID], [sCategoryName]) VALUES (13, 10, N'Thú bông')
INSERT [dbo].[tblCategory] ([PK_iCategoryID], [FK_iSupplierID], [sCategoryName]) VALUES (14, 11, N'Mũ len')
SET IDENTITY_INSERT [dbo].[tblCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[tblCheckinDetail] ON 

INSERT [dbo].[tblCheckinDetail] ([PK_iCheckinDetailID], [FK_iImportOrderID], [FK_iProductID], [iQuatity], [fPrice]) VALUES (5, 6, 80, 5, 160000)
INSERT [dbo].[tblCheckinDetail] ([PK_iCheckinDetailID], [FK_iImportOrderID], [FK_iProductID], [iQuatity], [fPrice]) VALUES (6, 6, 89, 6, 140000)
INSERT [dbo].[tblCheckinDetail] ([PK_iCheckinDetailID], [FK_iImportOrderID], [FK_iProductID], [iQuatity], [fPrice]) VALUES (7, 6, 90, 17, 150000)
SET IDENTITY_INSERT [dbo].[tblCheckinDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[tblCheckoutDetail] ON 

INSERT [dbo].[tblCheckoutDetail] ([PK_iCheckoutDetailID], [FK_iOrderID], [FK_iProductID], [iQuantity], [fPrice]) VALUES (10, 8, 80, 4, 200000)
INSERT [dbo].[tblCheckoutDetail] ([PK_iCheckoutDetailID], [FK_iOrderID], [FK_iProductID], [iQuantity], [fPrice]) VALUES (11, 8, 89, 3, 190000)
INSERT [dbo].[tblCheckoutDetail] ([PK_iCheckoutDetailID], [FK_iOrderID], [FK_iProductID], [iQuantity], [fPrice]) VALUES (12, 9, 90, 3, 220000)
SET IDENTITY_INSERT [dbo].[tblCheckoutDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[tblImage] ON 

INSERT [dbo].[tblImage] ([PK_iImageID], [sImage]) VALUES (5, N'/Data/563282be3254f50aac45.jpg')
INSERT [dbo].[tblImage] ([PK_iImageID], [sImage]) VALUES (6, N'/Data/309011360_2481749058626201_926817814432895443_n.jpg')
INSERT [dbo].[tblImage] ([PK_iImageID], [sImage]) VALUES (7, N'/Data/311454669_2506007806200326_1742919981966582397_n.jpg')
SET IDENTITY_INSERT [dbo].[tblImage] OFF
GO
SET IDENTITY_INSERT [dbo].[tblImportOrder] ON 

INSERT [dbo].[tblImportOrder] ([PK_iImportOrderID], [FK_iAccountID], [FK_iSupplierID], [dtDateAdded], [sDeliver], [iState]) VALUES (6, 18, 9, CAST(N'2023-02-24T02:30:00.000' AS DateTime), N'Tú Anh', NULL)
INSERT [dbo].[tblImportOrder] ([PK_iImportOrderID], [FK_iAccountID], [FK_iSupplierID], [dtDateAdded], [sDeliver], [iState]) VALUES (7, 18, 8, CAST(N'2023-02-24T12:30:00.000' AS DateTime), N'Mỹ Hoa', NULL)
INSERT [dbo].[tblImportOrder] ([PK_iImportOrderID], [FK_iAccountID], [FK_iSupplierID], [dtDateAdded], [sDeliver], [iState]) VALUES (8, 19, 7, CAST(N'2023-02-20T14:30:00.000' AS DateTime), N'Ý Lan', NULL)
SET IDENTITY_INSERT [dbo].[tblImportOrder] OFF
GO
SET IDENTITY_INSERT [dbo].[tblOrder] ON 

INSERT [dbo].[tblOrder] ([PK_iOrderID], [FK_iAccountID], [sCustomerName], [sCustomerPhone], [sDeliveryAddress], [dInvoidDate], [sBiller], [iDeliveryMethod], [fSurcharge], [iPaid], [sState], [iTotal]) VALUES (8, 14, N'Nguyễn Lan', N'0943854535', N'Hà Nội', CAST(N'2020-04-01T00:00:00.000' AS DateTime), N'Tuấn Anh', 1, 20000, 1, NULL, 10000000)
INSERT [dbo].[tblOrder] ([PK_iOrderID], [FK_iAccountID], [sCustomerName], [sCustomerPhone], [sDeliveryAddress], [dInvoidDate], [sBiller], [iDeliveryMethod], [fSurcharge], [iPaid], [sState], [iTotal]) VALUES (9, 14, N'Thu Phương', N'0343253248', N'Hải Dương', CAST(N'2023-04-04T00:00:00.000' AS DateTime), N'Ngọc', 1, 25000, 1, NULL, 10000000)
INSERT [dbo].[tblOrder] ([PK_iOrderID], [FK_iAccountID], [sCustomerName], [sCustomerPhone], [sDeliveryAddress], [dInvoidDate], [sBiller], [iDeliveryMethod], [fSurcharge], [iPaid], [sState], [iTotal]) VALUES (10, 14, N'Đức Dương', N'0346364645', N'Bắc Ninh', CAST(N'2023-04-06T20:11:00.000' AS DateTime), N'Ngọc', 1, 16000, 1, NULL, 10000000)
SET IDENTITY_INSERT [dbo].[tblOrder] OFF
GO
SET IDENTITY_INSERT [dbo].[tblPermission] ON 

INSERT [dbo].[tblPermission] ([PK_iPermissionID], [sPermissionName], [iState]) VALUES (1, N'User', 1)
INSERT [dbo].[tblPermission] ([PK_iPermissionID], [sPermissionName], [iState]) VALUES (2, N'Seller', 1)
INSERT [dbo].[tblPermission] ([PK_iPermissionID], [sPermissionName], [iState]) VALUES (3, N'Admin', 1)
SET IDENTITY_INSERT [dbo].[tblPermission] OFF
GO
SET IDENTITY_INSERT [dbo].[tblProduct] ON 

INSERT [dbo].[tblProduct] ([PK_iProductID], [FK_iSupplierID], [FK_iCategoryID], [sProductName], [sDescribe], [fPrice], [sColor], [sSize], [sImage], [sUnit], [iQuantity], [iState]) VALUES (80, 9, 12, N'Bó hoa tulip ', N'Hoa tu lip cầm tay ngày cưới, tặng bạn bè dịp lễ tết, sinh nhật', 350000, NULL, NULL, N'~/Content/assets/images/hoa_len/hoa_tulip1.jpg', N'bó', 99, NULL)
INSERT [dbo].[tblProduct] ([PK_iProductID], [FK_iSupplierID], [FK_iCategoryID], [sProductName], [sDescribe], [fPrice], [sColor], [sSize], [sImage], [sUnit], [iQuantity], [iState]) VALUES (89, 9, 12, N'Bó hoa tulip ', N'Hoa tu lip cầm tay ngày cưới, tặng bạn bè dịp lễ tết, sinh nhật', 350000, NULL, NULL, N'~/Content/assets/images/hoa_len/hoa_tulip1.jpg', N'bó', 99, NULL)
INSERT [dbo].[tblProduct] ([PK_iProductID], [FK_iSupplierID], [FK_iCategoryID], [sProductName], [sDescribe], [fPrice], [sColor], [sSize], [sImage], [sUnit], [iQuantity], [iState]) VALUES (90, 9, 12, N'Túi hoa hướng dương 1 bông', N'Túi hoa hướng dương cầm tay ngày cưới, tặng bạn bè dịp lễ tết, sinh nhật', 70000, NULL, NULL, N'~/Content/assets/images/hoa_len/huong_duong3.jpg', N'túi', 100, NULL)
SET IDENTITY_INSERT [dbo].[tblProduct] OFF
GO
SET IDENTITY_INSERT [dbo].[tblProductColor] ON 

INSERT [dbo].[tblProductColor] ([PK_iProductColorID], [sProductColor]) VALUES (6, N'Đỏ')
INSERT [dbo].[tblProductColor] ([PK_iProductColorID], [sProductColor]) VALUES (7, N'Xanh')
INSERT [dbo].[tblProductColor] ([PK_iProductColorID], [sProductColor]) VALUES (8, N'Vàng')
SET IDENTITY_INSERT [dbo].[tblProductColor] OFF
GO
SET IDENTITY_INSERT [dbo].[tblProductPrice] ON 

INSERT [dbo].[tblProductPrice] ([PK_iProductPriceID], [fPrice], [dtStartDay], [dtEndDay]) VALUES (7, 200000, NULL, NULL)
INSERT [dbo].[tblProductPrice] ([PK_iProductPriceID], [fPrice], [dtStartDay], [dtEndDay]) VALUES (8, 300000, NULL, NULL)
INSERT [dbo].[tblProductPrice] ([PK_iProductPriceID], [fPrice], [dtStartDay], [dtEndDay]) VALUES (9, 400000, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tblProductPrice] OFF
GO
SET IDENTITY_INSERT [dbo].[tblProductSize] ON 

INSERT [dbo].[tblProductSize] ([PK_iProductSizeID], [sSizeName]) VALUES (5, N'Nhỏ')
INSERT [dbo].[tblProductSize] ([PK_iProductSizeID], [sSizeName]) VALUES (6, N'Vừa')
INSERT [dbo].[tblProductSize] ([PK_iProductSizeID], [sSizeName]) VALUES (7, N'To')
SET IDENTITY_INSERT [dbo].[tblProductSize] OFF
GO
SET IDENTITY_INSERT [dbo].[tblPromote] ON 

INSERT [dbo].[tblPromote] ([PK_iPromoteID], [FK_iSupplierID], [sPromoteName], [sPromoteRate], [dtStartDay], [dtEndDay]) VALUES (7, 9, N'Không', 0, CAST(N'2023-02-24T21:30:00.000' AS DateTime), CAST(N'2023-02-24T21:30:00.000' AS DateTime))
INSERT [dbo].[tblPromote] ([PK_iPromoteID], [FK_iSupplierID], [sPromoteName], [sPromoteRate], [dtStartDay], [dtEndDay]) VALUES (8, 10, N'Ngày 08/03', 20, CAST(N'2023-04-21T08:44:00.000' AS DateTime), CAST(N'2023-04-21T08:44:00.000' AS DateTime))
INSERT [dbo].[tblPromote] ([PK_iPromoteID], [FK_iSupplierID], [sPromoteName], [sPromoteRate], [dtStartDay], [dtEndDay]) VALUES (9, 11, N'Chào tháng 4', 10, CAST(N'2023-04-01T00:00:00.000' AS DateTime), CAST(N'2023-04-10T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[tblPromote] OFF
GO
SET IDENTITY_INSERT [dbo].[tblReview] ON 

INSERT [dbo].[tblReview] ([PK_iReviewID], [FK_iProductID], [FK_iAccountID], [iStarRating], [dtReviewTime], [sComment]) VALUES (9, 80, 14, 5, CAST(N'2023-04-20T20:43:00.000' AS DateTime), NULL)
INSERT [dbo].[tblReview] ([PK_iReviewID], [FK_iProductID], [FK_iAccountID], [iStarRating], [dtReviewTime], [sComment]) VALUES (10, 80, 14, 5, CAST(N'2023-04-20T20:44:00.000' AS DateTime), NULL)
INSERT [dbo].[tblReview] ([PK_iReviewID], [FK_iProductID], [FK_iAccountID], [iStarRating], [dtReviewTime], [sComment]) VALUES (11, 80, 15, 4, CAST(N'2023-04-20T20:44:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[tblReview] OFF
GO
SET IDENTITY_INSERT [dbo].[tblSupplier] ON 

INSERT [dbo].[tblSupplier] ([PK_iSupplierID], [FK_iAccountID], [sSupplierName], [sPhone], [sEmail], [sAddress], [iState], [sVerificationImagePath]) VALUES (7, 19, N'Tiệm nhỏ Xíu', N'0984534534', N'thuy@gmail.com', N'Đà Nẵng', 0, NULL)
INSERT [dbo].[tblSupplier] ([PK_iSupplierID], [FK_iAccountID], [sSupplierName], [sPhone], [sEmail], [sAddress], [iState], [sVerificationImagePath]) VALUES (8, 18, N'Nhật Linh Handmade', N'0985433453', N'linh@gmail.com', N'Hà Nội', 0, NULL)
INSERT [dbo].[tblSupplier] ([PK_iSupplierID], [FK_iAccountID], [sSupplierName], [sPhone], [sEmail], [sAddress], [iState], [sVerificationImagePath]) VALUES (9, 18, N'Nana Handmade', N'0453954383', N'na@gmail.com', N'Bắc Ninh', 0, NULL)
SET IDENTITY_INSERT [dbo].[tblSupplier] OFF
GO
SET IDENTITY_INSERT [dbo].[tblUser] ON 

INSERT [dbo].[tblUser] ([PK_iAccountID], [FK_iPermissionID], [sEmail], [sPass], [sUserName], [sPhone], [sAddress], [iState]) VALUES (14, 1, N'kh1@gmail.com', NULL, N'Hoa', N'0985679546', N'Hà Nội', 0)
INSERT [dbo].[tblUser] ([PK_iAccountID], [FK_iPermissionID], [sEmail], [sPass], [sUserName], [sPhone], [sAddress], [iState]) VALUES (15, 1, N'kh2@gmail.com', N'e10adc3949ba59abbe56e057f20f883e', N'Lan', N'0983245678', N'Thái Bình', 0)
INSERT [dbo].[tblUser] ([PK_iAccountID], [FK_iPermissionID], [sEmail], [sPass], [sUserName], [sPhone], [sAddress], [iState]) VALUES (16, 1, N'kh3@gmail.com', N'e10adc3949ba59abbe56e057f20f883e', N'Hương', N'0169544534', N'Bắc Ninh', NULL)
SET IDENTITY_INSERT [dbo].[tblUser] OFF
GO
ALTER TABLE [dbo].[tblCategory]  WITH CHECK ADD  CONSTRAINT [fk_category_supplier] FOREIGN KEY([FK_iSupplierID])
REFERENCES [dbo].[tblSupplier] ([PK_iSupplierID])
GO
ALTER TABLE [dbo].[tblCategory] CHECK CONSTRAINT [fk_category_supplier]
GO
ALTER TABLE [dbo].[tblCheckinDetail]  WITH CHECK ADD  CONSTRAINT [fk_checkinDetail_importOrder] FOREIGN KEY([FK_iImportOrderID])
REFERENCES [dbo].[tblImportOrder] ([PK_iImportOrderID])
GO
ALTER TABLE [dbo].[tblCheckinDetail] CHECK CONSTRAINT [fk_checkinDetail_importOrder]
GO
ALTER TABLE [dbo].[tblCheckinDetail]  WITH CHECK ADD  CONSTRAINT [fk_checkinDetail_product] FOREIGN KEY([FK_iProductID])
REFERENCES [dbo].[tblProduct] ([PK_iProductID])
GO
ALTER TABLE [dbo].[tblCheckinDetail] CHECK CONSTRAINT [fk_checkinDetail_product]
GO
ALTER TABLE [dbo].[tblCheckoutDetail]  WITH CHECK ADD  CONSTRAINT [fk_checkoutDetail_order] FOREIGN KEY([FK_iOrderID])
REFERENCES [dbo].[tblOrder] ([PK_iOrderID])
GO
ALTER TABLE [dbo].[tblCheckoutDetail] CHECK CONSTRAINT [fk_checkoutDetail_order]
GO
ALTER TABLE [dbo].[tblCheckoutDetail]  WITH CHECK ADD  CONSTRAINT [fk_checkoutDetail_product] FOREIGN KEY([FK_iProductID])
REFERENCES [dbo].[tblProduct] ([PK_iProductID])
GO
ALTER TABLE [dbo].[tblCheckoutDetail] CHECK CONSTRAINT [fk_checkoutDetail_product]
GO
ALTER TABLE [dbo].[tblComplaint]  WITH CHECK ADD  CONSTRAINT [FK_tblComplaint_tblSupplier] FOREIGN KEY([FK_iSupplierID])
REFERENCES [dbo].[tblSupplier] ([PK_iSupplierID])
GO
ALTER TABLE [dbo].[tblComplaint] CHECK CONSTRAINT [FK_tblComplaint_tblSupplier]
GO
ALTER TABLE [dbo].[tblImportOrder]  WITH CHECK ADD  CONSTRAINT [fk_importOrder_account] FOREIGN KEY([FK_iAccountID])
REFERENCES [dbo].[tblUser] ([PK_iAccountID])
GO
ALTER TABLE [dbo].[tblImportOrder] CHECK CONSTRAINT [fk_importOrder_account]
GO
ALTER TABLE [dbo].[tblImportOrder]  WITH CHECK ADD  CONSTRAINT [fk_importOrder_supplier] FOREIGN KEY([FK_iSupplierID])
REFERENCES [dbo].[tblSupplier] ([PK_iSupplierID])
GO
ALTER TABLE [dbo].[tblImportOrder] CHECK CONSTRAINT [fk_importOrder_supplier]
GO
ALTER TABLE [dbo].[tblOrder]  WITH CHECK ADD  CONSTRAINT [fk_order_account] FOREIGN KEY([FK_iAccountID])
REFERENCES [dbo].[tblUser] ([PK_iAccountID])
GO
ALTER TABLE [dbo].[tblOrder] CHECK CONSTRAINT [fk_order_account]
GO
ALTER TABLE [dbo].[tblProduct]  WITH CHECK ADD  CONSTRAINT [fk_product_category] FOREIGN KEY([FK_iCategoryID])
REFERENCES [dbo].[tblCategory] ([PK_iCategoryID])
GO
ALTER TABLE [dbo].[tblProduct] CHECK CONSTRAINT [fk_product_category]
GO
ALTER TABLE [dbo].[tblProduct]  WITH CHECK ADD  CONSTRAINT [fk_product_supplier] FOREIGN KEY([FK_iSupplierID])
REFERENCES [dbo].[tblSupplier] ([PK_iSupplierID])
GO
ALTER TABLE [dbo].[tblProduct] CHECK CONSTRAINT [fk_product_supplier]
GO
ALTER TABLE [dbo].[tblPromote]  WITH CHECK ADD  CONSTRAINT [fk_promote_supplier] FOREIGN KEY([FK_iSupplierID])
REFERENCES [dbo].[tblSupplier] ([PK_iSupplierID])
GO
ALTER TABLE [dbo].[tblPromote] CHECK CONSTRAINT [fk_promote_supplier]
GO
ALTER TABLE [dbo].[tblReview]  WITH CHECK ADD  CONSTRAINT [fk_review_account] FOREIGN KEY([FK_iAccountID])
REFERENCES [dbo].[tblUser] ([PK_iAccountID])
GO
ALTER TABLE [dbo].[tblReview] CHECK CONSTRAINT [fk_review_account]
GO
ALTER TABLE [dbo].[tblReview]  WITH CHECK ADD  CONSTRAINT [fk_review_product] FOREIGN KEY([FK_iProductID])
REFERENCES [dbo].[tblProduct] ([PK_iProductID])
GO
ALTER TABLE [dbo].[tblReview] CHECK CONSTRAINT [fk_review_product]
GO
ALTER TABLE [dbo].[tblSupplier]  WITH CHECK ADD  CONSTRAINT [fk_supplier_account] FOREIGN KEY([FK_iAccountID])
REFERENCES [dbo].[tblUser] ([PK_iAccountID])
GO
ALTER TABLE [dbo].[tblSupplier] CHECK CONSTRAINT [fk_supplier_account]
GO
ALTER TABLE [dbo].[tblUser]  WITH CHECK ADD  CONSTRAINT [fk_user_permission] FOREIGN KEY([FK_iPermissionID])
REFERENCES [dbo].[tblPermission] ([PK_iPermissionID])
GO
ALTER TABLE [dbo].[tblUser] CHECK CONSTRAINT [fk_user_permission]
GO
