@{
    ViewBag.Title = "Đặt Hàng Thành Công";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading"> Đơn hàng của bạn đã được đặt thành công!</h4>
        <p>Cảm ơn bạn đã mua hàng tại cửa hàng của chúng tôi. Chúng tôi sẽ liên hệ với bạn sớm để xác nhận đơn hàng.</p>
        <hr>
    </div>

    @* Add any other relevant order details you want to display here *@
</div>
